In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
data = pd.read_excel("./Desktop/hazirlik_son.xlsx") #verileri çekiyoruz

In [9]:
#ön kamera datalarını float haline getirdik
data['on_kamera_cozunurluk'] = data.on_kamera_cozunurluk.astype(float)

In [10]:
data['on_kamera_cozunurluk']

0      NaN
1      1.0
2      8.0
3      8.0
4      8.0
      ...
667    NaN
668    8.0
669    1.0
670    8.0
671    5.0
Name: on_kamera_cozunurluk, Length: 672, dtype: float64

In [13]:

#pil datalarını float haline getirdik
data['pil_gucu'] = data.pil_gucu.astype(float)

In [15]:
data['pil_gucu']

0      304000.0
1          50.0
2      405000.0
3      405000.0
4          50.0
         ...
667         NaN
668    405000.0
669        18.0
670    405000.0
671    307900.0
Name: pil_gucu, Length: 672, dtype: float64

In [26]:
data['ekran_boyutu'] = data.ekran_boyutu.str.replace(' ', '')

In [28]:
data.to_excel("./Desktop/hazirlik2.xlsx", index=False)

In [30]:

#pil datalarını float haline getirdik
data['ekran_boyutu'] = data.ekran_boyutu.astype(float)

In [31]:
data['ekran_boyutu']

0      6.0
1      6.0
2      6.0
3      6.0
4      6.0
      ...
667    NaN
668    6.0
669    6.0
670    6.0
671    5.0
Name: ekran_boyutu, Length: 672, dtype: float64

In [41]:
data = data.drop(['kamera_cozunurluk'], axis=1)

In [42]:
data.to_excel("./Desktop/hazirlik_son.xlsx", index=False)

In [47]:
data['price']

0      8.0
1      3.3
2      2.5
3      2.5
4      3.3
      ...
667    4.0
668    5.7
669    2.0
670    5.8
671    2.1
Name: price, Length: 672, dtype: float64

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   dahili_hafiza         448 non-null    float64
 1   ekran_boyutu          399 non-null    object
 2   pil_gucu              423 non-null    object
 3   renk                  439 non-null    object
 4   on_kamera_cozunurluk  388 non-null    object
 5   url                   672 non-null    object
 6   price                 672 non-null    float64
dtypes: float64(2), object(5)
memory usage: 23.7+ KB

In [49]:


#pil datalarını float haline getirdik
data['pil_gucu'] = data.pil_gucu.astype(float)
#ön kamera datalarını float haline getirdik
data['on_kamera_cozunurluk'] = data.on_kamera_cozunurluk.astype(float)

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   dahili_hafiza         448 non-null    float64
 1   ekran_boyutu          399 non-null    object
 2   pil_gucu              423 non-null    float64
 3   renk                  439 non-null    object
 4   on_kamera_cozunurluk  388 non-null    float64
 5   url                   672 non-null    object
 6   price                 672 non-null    float64
dtypes: float64(4), object(3)
memory usage: 28.9+ KB

In [62]:
data['ekran_boyutu'] = data.ekran_boyutu.str.replace(' ', '')

In [64]:
data = data.drop(['ekran_boyutu'], axis=1)

In [65]:
data.to_excel("./Desktop/lastone.xlsx", index=False)

In [66]:
data = pd.read_excel("./Desktop/lastone.xlsx") #verileri çekiyoruz

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   dahili_hafiza         448 non-null    float64
 1   pil_gucu              423 non-null    float64
 2   renk                  439 non-null    object
 3   on_kamera_cozunurluk  388 non-null    float64
 4   url                   672 non-null    object
 5   price                 672 non-null    float64
dtypes: float64(4), object(2)
memory usage: 26.3+ KB

In [74]:
#renk verilerinde sözel olan verileri önce bir sayıya atadık.
data['renk'] = data['renk'].replace(['Mavi'],'0') 
data['renk'] = data['renk'].replace(['Kırmızı'],'1') 
data['renk'] = data['renk'].replace(['Turuncu'],'2') 
data['renk'] = data['renk'].replace(['Yeşil'],'3') 
data['renk'] = data['renk'].replace(['Siyah'],'4') 
data['renk'] = data['renk'].replace(['Beyaz'],'5') 
data['renk'] = data['renk'].replace(['Gri'],'6') 
data['renk'] = data['renk'].replace(['Altın'],'7') 
data['renk'] = data['renk'].replace(['Gümüş'],'8') 
data['renk'] = data['renk'].replace(['Mor'],'9') 
data['renk'] = data['renk'].replace(['Metalik'],'10') 
data['renk'] = data['renk'].replace(['Pembe'],'11') 
data['renk'] = data['renk'].replace(['Lacivert'],'12') 
data['renk'] = data['renk'].replace(['Sarı'],'13') 
data['renk'] = data['renk'].replace(['Kahverengi'],'14') 
data['renk'] = data['renk'].replace(['Bej'],'15') 
data['renk'] = data['renk'].replace(['Turkuaz'],'16')

In [75]:
data['renk']

0        5
1        6
2        4
3        0
4        3
      ...
667    NaN
668      9
669      5
670      0
671      4
Name: renk, Length: 672, dtype: object

In [76]:
#renk datalarını float haline getirdik
data['renk'] = data.renk.astype(float)

In [77]:
data['renk']

0      5.0
1      6.0
2      4.0
3      0.0
4      3.0
      ...
667    NaN
668    9.0
669    5.0
670    0.0
671    4.0
Name: renk, Length: 672, dtype: float64

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   dahili_hafiza         448 non-null    float64
 1   pil_gucu              423 non-null    float64
 2   renk                  439 non-null    float64
 3   on_kamera_cozunurluk  388 non-null    float64
 4   url                   672 non-null    object
 5   price                 672 non-null    float64
dtypes: float64(5), object(1)
memory usage: 28.9+ KB

In [83]:
#renk verilerininde boş olarak bulunan verilere 17 verisini atyıoruz ve 17=yok oluyor
data.renk.fillna(17,inplace=True)

In [84]:
#dahili hafıza verilerininde boş olarak bulunan verilere 0 verisini atyıoruz ve 0=yok oluyor
data.dahili_hafiza.fillna(0,inplace=True)

In [85]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   dahili_hafiza         672 non-null    float64
 1   pil_gucu              423 non-null    float64
 2   renk                  672 non-null    float64
 3   on_kamera_cozunurluk  388 non-null    float64
 4   url                   672 non-null    object
 5   price                 672 non-null    float64
dtypes: float64(5), object(1)
memory usage: 28.9+ KB

In [86]:
#ön kamera çözünürlük verilerininde boş olarak bulunan verilere 0 verisini atyıoruz ve 0=yok oluyor
data.on_kamera_cozunurluk.fillna(0,inplace=True)

In [87]:
#pil gücü verilerininde boş olarak bulunan verilere 0 verisini atyıoruz ve 0=yok oluyor
data.pil_gucu.fillna(0,inplace=True)

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   dahili_hafiza         672 non-null    float64
 1   pil_gucu              672 non-null    float64
 2   renk                  672 non-null    float64
 3   on_kamera_cozunurluk  672 non-null    float64
 4   url                   672 non-null    object
 5   price                 672 non-null    float64
dtypes: float64(5), object(1)
memory usage: 28.9+ KB

In [90]:
data = data.drop(['url'], axis=1) #url kısmını object olduğu için kaldırıyoruz

KeyError: "['url'] not found in axis"

In [91]:
data.to_excel("./Desktop/last_one.xlsx", index=False) #verileri son olarak excele yazdırıyoruz

In [92]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   dahili_hafiza         672 non-null    float64
 1   pil_gucu              672 non-null    float64
 2   renk                  672 non-null    float64
 3   on_kamera_cozunurluk  672 non-null    float64
 4   price                 672 non-null    float64
dtypes: float64(5)
memory usage: 26.3 KB